.total-amount {
  background-color: white;
  margin-left: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.subtotal {
  font-weight: 800;
  margin-bottom: 10px;
}

.total-amount-checkout-button {
  background-color: #f1c85f;
  border: 1px solid;
  border-color: #bb973d #9c7e31 #d1ae57;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.total-price {
  color: rgb(189, 33, 33);
}

.total-amount-top {
  border-bottom: 1px solid rgb(233, 229, 229);
}

.total-amount-bottom {
  margin-top: 10px;
  font-size: 12px;
  display: flex;
  justify-content: center;
}

.total-amount-sign-in {
  text-decoration: none;
  color: blue;
}
